[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
explicit_defaults_for_timestamp = 1
innodb_use_native_aio=0
datadir=/var/lib/mysql

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4